<a href="https://colab.research.google.com/github/RMoulla/Fondamentaux_R/blob/main/Corrig%C3%A9_Fondamentaux_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TP – Analyse d’un fichier d’employés avec R

1. Créer quatre vecteurs contenant les données suivantes

In [8]:
# Création des données de base
noms <- c("Alice", "Bruno", "Chloé", "David")
ages <- c(34, 52, 41, 29)
departements <- c("RH", "IT", "Comptabilité", "IT")
salaires <- c(2800, 3200, 2500, 3000)

2. Créer le data frame

In [9]:
# Création du tableau employés
employes <- data.frame(
  nom = noms,
  age = ages,
  departement = departements,
  salaire = salaires
)
employes

  nom   age departement  salaire
1 Alice 34  RH           2800
2 Bruno 52  IT           3200
3 Chloé 41  Comptabilité 2500
4 David 29  IT           3000

3. Boucle for pour commenter les salaires

In [4]:
# Message selon le niveau de salaire
for (i in 1:nrow(employes)) {
  nom <- employes$nom[i]
  salaire <- employes$salaire[i]

  if (salaire > 3000) {
    message <- paste(nom, "a un salaire élevé.")
  } else {
    message <- paste(nom, "a un salaire modéré.")
  }

  print(message)
}

[1] "Alice a un salaire modéré."
[1] "Bruno a un salaire élevé."
[1] "Chloé a un salaire modéré."
[1] "David a un salaire modéré."

4. Boucle pour détecter les employés proches de la retraite

In [5]:
# Message si l'âge est supérieur ou égal à 50
for (i in 1:nrow(employes)) {
  nom <- employes$nom[i]
  age <- employes$age[i]

  if (age >= 50) {
    print(paste(nom, "est proche de la retraite."))
  }
}

[1] "Bruno est proche de la retraite."

5. Créer le vecteur `niveau`

In [6]:
# Initialisation du vecteur niveau
niveau <- c()

# Remplissage selon le salaire
for (i in 1:nrow(employes)) {
  salaire <- employes$salaire[i]

  if (salaire < 2700) {
    niveau[i] <- "Faible"
  } else if (salaire <= 3100) {
    niveau[i] <- "Moyen"
  } else {
    niveau[i] <- "Élevé"
  }
}

6. Ajouter la colonne au data frame

In [7]:
# Ajout de la colonne niveau
employes$niveau <- niveau

# Affichage final
print(employes)

    nom age  departement salaire niveau
1 Alice  34           RH    2800  Moyen
2 Bruno  52           IT    3200  Élevé
3 Chloé  41 Comptabilité    2500 Faible
4 David  29           IT    3000  Moyen