<a href="https://colab.research.google.com/github/RMoulla/Fondamentaux_R/blob/main/Programmation_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fondamentaux de R**

## Scalaires

In [ ]:
# Assignation
x <- 10
x

[1] 10

In [ ]:
# Assignation
y = 20
y

[1] 20

In [ ]:
# Classe d'un objet
class(x)

[1] "numeric"

In [ ]:
# Addition
x + y

[1] 30

## Vecteurs

In [ ]:
# Créer un vecteur avec c
vec <- c(12, 20, 40, 18)
vec

[1] 12 20 40 18

In [ ]:
# Créer un vecteur séquentiel
vec_seq <- 1:5
vec_seq

[1] 1 2 3 4 5

In [ ]:
# Créer un vecteur séquentiel avec seq
vec_seq2 <- seq(1, 10, 2)
vec_seq2

[1] 1 3 5 7 9

In [ ]:
# Accéder à un élément d'un vecteur
vec[1]

[1] 12

In [ ]:
# Accéder à une séquence d'un vecteur
vec[1:3]

[1] 12 20 40

In [ ]:
# Accéder à un ensemble d'éléments d'un vecteur
vec[c(1,3)]

[1] 12 40

In [ ]:
# Accéder à tous les éléments sauf un
vec[-1]

[1] 20 40 18

In [ ]:
# Accéder à des éléments avec une condition
vec[vec > 15]

[1] 20 40 18

In [ ]:
# Puissance d'un vecteur
vec^2

[1]  144  400 1600  324

In [ ]:
# Addition de deux vecteur
vec1 = 1:5
vec2 = 6:10

vec1 + vec2

[1]  7  9 11 13 15

In [ ]:
# Multiplication de deux vecteurs
vec1*vec2

[1]  6 14 24 36 50

In [ ]:
# Broadcasting
vec1 + 1

[1] 2 3 4 5 6

In [ ]:
# Longeur d'un vecteur
length(vec)

[1] 4

In [ ]:
# Somme des éléments d'un vecteur
sum(vec)

[1] 90

In [ ]:
# Maximum d'un vecteur
max(vec)

[1] 40

In [ ]:
# minimum d'un vecteur
min(vec)

[1] 12

In [ ]:
# Trier les éléments d'un vecteur
sort(vec)

[1] 12 18 20 40

In [ ]:
# Trier les éléments d'un vecteur par ordre décroissant
sort(vec, decreasing = TRUE)

[1] 40 20 18 12

## Les listes

In [ ]:
# Créer une liste
mylist <- list('A', 2, 'B')
mylist

[[1]]
[1] "A"

[[2]]
[1] 2

[[3]]
[1] "B"

In [ ]:
# Accéder à un élément d'une liste avec son index
mylist[1]

[[1]]
[1] "A"

In [ ]:
## Accéder à un éléments avec son index
mylist[[1]]

[1] "A"

In [ ]:
# Créer une liste avec des clés et des valeurs
mylist_dict <- list(nom = 'A', valeur = 2, prénom = 'B')
mylist_dict

$nom
[1] "A"

$valeur
[1] 2

$prénom
[1] "B"

In [ ]:
# Accéder à des éléments d'une liste avec leurs clés
mylist_dict[c("nom", "valeur")]

$nom
[1] "A"

$valeur
[1] 2

In [ ]:
# Accéder à des éléments d'une liste avec leurs clés
mylist_dict[["nom"]]

[1] "A"

In [ ]:
# Accéder à des éléments d'une liste avec leurs clés
mylist_dict$`prénom`

[1] "B"

In [ ]:
# Modifier un élément d'une liste
mylist_dict$valeur <- 18
mylist_dict

$nom
[1] "A"

$valeur
[1] 18

$prénom
[1] "B"

## Conditions avec if et else

In [ ]:
# Exemple simple de condition if

x <- 10

if (x > 5){
  print("x est supérieur à 5")
}

[1] "x est supérieur à 5"

In [ ]:
# Exemple de condition avec if et else

x <- 1

if (x > 5){
  print("x est supérieur à 5")
} else {
  print("x est inférieur ou égal à 5")
}

[1] "x est inférieur ou égal à 5"

In [ ]:
# Exemple de condition avec if et else plus complexe

x <- 3

if (x > 5){
  print("x est supérieur à 5")
} else if (x > 2) {
  print("x est supérieur à 2")
} else {
  print("x est inférieur ou égal à 2")
}

[1] "x est supérieur à 2"

In [ ]:
# Exemple de condition avec if et else plus complexe

x <- 2

if (x > 5){
  print("x est supérieur à 5")
} else if (x == 2) {
  print("x est égal à 2")
} else {
  print("x est inférieur à 5")
}

[1] "x est égal à 2"

In [ ]:
# Raccourci pour les vecteurs avec ifelse

notes = c(8, 9, 12, 18)

ifelse(notes >= 10, "Admis", "Ajourné")

[1] "Ajourné" "Ajourné" "Admis"   "Admis"

## Boucles for

In [ ]:
# Parcourir une liste

malist = 1:5

for (i in malist){
  print(i^2)
}

[1] 1
[1] 4
[1] 9
[1] 16
[1] 25

In [ ]:
# Parcourir une liste et sauvegarder des éléments dans une autre liste
malist <- 1:5
malist_carré <- c()
for (i in malist){
  malist_carré[i] <- i^2
}

malist_carré

[1]  1  4  9 16 25

In [ ]:
# Parcourir une liste de chaîne de caractères

prénoms <- c("Bob", "Alice", "Tom", "Aline")

for (prénom in prénoms){
  print(prénom)
}

[1] "Bob"
[1] "Alice"
[1] "Tom"
[1] "Aline"

In [ ]:
# Boucle for avec conditions

notes = c(8, 9, 12, 18)

for (note in notes){
  if (note >= 10){
    print("Admis")
  } else {
    print("Ajourné")
  }
}

[1] "Ajourné"
[1] "Ajourné"
[1] "Admis"
[1] "Admis"

## Boucle while

In [ ]:
# Boucle while très simple

x <- 0

while (x < 5){
  print(x^2)
  x <- x + 1
}

[1] 0
[1] 1
[1] 4
[1] 9
[1] 16

## Les dataframes

In [ ]:
# Créer un dataframe à partir de listes

noms <- c("Alice", "Bob", "Tom", "Aline")
ages <- c(24, 28, 19, 32)
notes <- c(12, 16, 18, 15)

df <- data.frame(Nom = noms, Age = ages, Note = notes)
df

  Nom   Age Note
1 Alice 24  12
2 Bob   28  16
3 Tom   19  18
4 Aline 32  15

In [ ]:
# Résumé des informations du dataframe
summary(df)<

     Nom                 Age             Note
 Length:4           Min.   :19.00   Min.   :12.00
 Class :character   1st Qu.:22.75   1st Qu.:14.25
 Mode  :character   Median :26.00   Median :15.50
                    Mean   :25.75   Mean   :15.25
                    3rd Qu.:29.00   3rd Qu.:16.50
                    Max.   :32.00   Max.   :18.00

In [ ]:
# Afficher les 2 premières lignes
head(df, 2)

  Nom   Age Note
1 Alice 24  12
2 Bob   28  16

In [ ]:
# Afficher le nombre de lignes
nrow(df)

[1] 4

In [ ]:
# Afficher le nombre de colonnes
ncol(df)

[1] 3

In [ ]:
# Afficher les noms des colonnes
names(df)

[1] "Nom"  "Age"  "Note"

In [ ]:
# Accéder à une colonne par son nom
df['Age']

  Age
1 24
2 28
3 19
4 32

In [ ]:
# Accéder à une colonne par son nom
df$Age

[1] 24 28 19 32

In [ ]:
# Accéder à une ligne par son rang
df[1,]

  Nom   Age Note
1 Alice 24  12

In [ ]:
# Filtrer un dataframe avec une condition

df[df$Note > 15, ]

  Nom Age Note
2 Bob 28  16
3 Tom 19  18

In [ ]:
# Filtrer un dataframe avec plusieurs condition

df[df$Note > 15 & df$Age > 22, ]

  Nom Age Note
2 Bob 28  16

In [ ]:
# Ajouter une colonne à un dataframe

admission <- c("Admis", "Admis", "Admis", "Admis")
df['Admission'] <- admission
df

  Nom   Age Note Admission
1 Alice 24  12   Admis
2 Bob   28  16   Admis
3 Tom   19  18   Admis
4 Aline 32  15   Admis

In [ ]:
# Ajouter une ligne à un dataframe

nouvelle_ligne <- data.frame(Nom = "Sophie", Age = 25, Note = 17, Admission = "Admis")
df <- rbind(df, nouvelle_ligne)
df

  Nom    Age Note Admission
1 Alice  24  12   Admis
2 Bob    28  16   Admis
3 Tom    19  18   Admis
4 Aline  32  15   Admis
5 Sophie 25  17   Admis
6 Sophie 25  17   Admis

In [ ]:
# Supprimer une ligne d'un dataframe

df <- df[-6, ]
df

  Nom    Age Note Admission
1 Alice  24  12   Admis
2 Bob    28  16   Admis
3 Tom    19  18   Admis
4 Aline  32  15   Admis
5 Sophie 25  17   Admis