<a href="https://colab.research.google.com/github/RMoulla/Fondamentaux_R/blob/main/Programmation_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fondamentaux de R**

## Scalaires

In [ ]:
# Assignation
x <- 10
x

[1] 10

In [ ]:
# Assignation
y = 20
y

[1] 20

In [ ]:
# Classe d'un objet
class(x)

[1] "numeric"

In [ ]:
# Addition
x + y

[1] 30

## Vecteurs

In [ ]:
# Créer un vecteur avec c
vec <- c(12, 20, 40, 18)
vec

[1] 12 20 40 18

In [ ]:
# Créer un vecteur séquentiel
vec_seq <- 1:5
vec_seq

[1] 1 2 3 4 5

In [ ]:
# Créer un vecteur séquentiel avec seq
vec_seq2 <- seq(1, 10, 2)
vec_seq2

[1] 1 3 5 7 9

In [ ]:
# Accéder à un élément d'un vecteur
vec[1]

[1] 12

In [ ]:
# Accéder à une séquence d'un vecteur
vec[1:3]

[1] 12 20 40

In [ ]:
# Accéder à un ensemble d'éléments d'un vecteur
vec[c(1,3)]

[1] 12 40

In [ ]:
# Accéder à tous les éléments sauf un
vec[-1]

[1] 20 40 18

In [ ]:
# Accéder à des éléments avec une condition
vec[vec > 15]

[1] 20 40 18

In [ ]:
# Puissance d'un vecteur
vec^2

[1]  144  400 1600  324

In [ ]:
# Addition de deux vecteur
vec1 = 1:5
vec2 = 6:10

vec1 + vec2

[1]  7  9 11 13 15

In [ ]:
# Multiplication de deux vecteurs
vec1*vec2

[1]  6 14 24 36 50

In [ ]:
# Broadcasting
vec1 + 1

[1] 2 3 4 5 6

In [ ]:
# Longeur d'un vecteur
length(vec)

[1] 4

In [ ]:
# Somme des éléments d'un vecteur
sum(vec)

[1] 90

In [ ]:
# Maximum d'un vecteur
max(vec)

[1] 40

In [ ]:
# minimum d'un vecteur
min(vec)

[1] 12

In [ ]:
# Trier les éléments d'un vecteur
sort(vec)

[1] 12 18 20 40

In [ ]:
# Trier les éléments d'un vecteur par ordre décroissant
sort(vec, decreasing = TRUE)

[1] 40 20 18 12

## Les listes

In [ ]:
# Créer une liste
mylist <- list('A', 2, 'B')
mylist

[[1]]
[1] "A"

[[2]]
[1] 2

[[3]]
[1] "B"

In [ ]:
# Accéder à un élément d'une liste avec son index
mylist[1]

[[1]]
[1] "A"

In [ ]:
## Accéder à un éléments avec son index
mylist[[1]]

[1] "A"

In [ ]:
# Créer une liste avec des clés et des valeurs
mylist_dict <- list(nom = 'A', valeur = 2, prénom = 'B')
mylist_dict

$nom
[1] "A"

$valeur
[1] 2

$prénom
[1] "B"

In [ ]:
# Accéder à des éléments d'une liste avec leurs clés
mylist_dict[c("nom", "valeur")]

$nom
[1] "A"

$valeur
[1] 2

In [ ]:
# Accéder à des éléments d'une liste avec leurs clés
mylist_dict[["nom"]]

[1] "A"

In [ ]:
# Accéder à des éléments d'une liste avec leurs clés
mylist_dict$`prénom`

[1] "B"

In [ ]:
# Modifier un élément d'une liste
mylist_dict$valeur <- 18
mylist_dict

$nom
[1] "A"

$valeur
[1] 18

$prénom
[1] "B"

## Conditions avec if et else

In [ ]:
# Exemple simple de condition if

x <- 10

if (x > 5){
  print("x est supérieur à 5")
}

[1] "x est supérieur à 5"

In [ ]:
# Exemple de condition avec if et else

x <- 1

if (x > 5){
  print("x est supérieur à 5")
} else {
  print("x est inférieur ou égal à 5")
}

[1] "x est inférieur ou égal à 5"

In [ ]:
# Exemple de condition avec if et else plus complexe

x <- 3

if (x > 5){
  print("x est supérieur à 5")
} else if (x > 2) {
  print("x est supérieur à 2")
} else {
  print("x est inférieur ou égal à 2")
}

[1] "x est supérieur à 2"

In [ ]:
# Exemple de condition avec if et else plus complexe

x <- 2

if (x > 5){
  print("x est supérieur à 5")
} else if (x == 2) {
  print("x est égal à 2")
} else {
  print("x est inférieur à 5")
}

[1] "x est égal à 2"

In [ ]:
# Raccourci pour les vecteurs avec ifelse

notes = c(8, 9, 12, 18)

ifelse(notes >= 10, "Admis", "Ajourné")

[1] "Ajourné" "Ajourné" "Admis"   "Admis"

## Boucles for

In [ ]:
# Parcourir une liste

malist = 1:5

for (i in malist){
  print(i^2)
}

[1] 1
[1] 4
[1] 9
[1] 16
[1] 25

In [ ]:
# Parcourir une liste et sauvegarder des éléments dans une autre liste
malist <- 1:5
malist_carré <- c()
for (i in malist){
  malist_carré[i] <- i^2
}

malist_carré

[1]  1  4  9 16 25

In [ ]:
# Parcourir une liste de chaîne de caractères

prénoms <- c("Bob", "Alice", "Tom", "Aline")

for (prénom in prénoms){
  print(prénom)
}

[1] "Bob"
[1] "Alice"
[1] "Tom"
[1] "Aline"

In [ ]:
# Boucle for avec conditions

notes = c(8, 9, 12, 18)

for (note in notes){
  if (note >= 10){
    print("Admis")
  } else {
    print("Ajourné")
  }
}

[1] "Ajourné"
[1] "Ajourné"
[1] "Admis"
[1] "Admis"

## Boucle while

In [ ]:
# Boucle while très simple

x <- 0

while (x < 5){
  print(x^2)
  x <- x + 1
}

[1] 0
[1] 1
[1] 4
[1] 9
[1] 16

## Les dataframes

In [ ]:
# Créer un dataframe à partir de listes

noms <- c("Alice", "Bob", "Tom", "Aline")
ages <- c(24, 28, 19, 32)
notes <- c(12, 16, 18, 15)

df <- data.frame(Nom = noms, Age = ages, Note = notes)
df

  Nom   Age Note
1 Alice 24  12
2 Bob   28  16
3 Tom   19  18
4 Aline 32  15

In [ ]:
# Résumé des informations du dataframe
summary(df)<

     Nom                 Age             Note
 Length:4           Min.   :19.00   Min.   :12.00
 Class :character   1st Qu.:22.75   1st Qu.:14.25
 Mode  :character   Median :26.00   Median :15.50
                    Mean   :25.75   Mean   :15.25
                    3rd Qu.:29.00   3rd Qu.:16.50
                    Max.   :32.00   Max.   :18.00

In [ ]:
# Afficher les 2 premières lignes
head(df, 2)

  Nom   Age Note
1 Alice 24  12
2 Bob   28  16

In [ ]:
# Afficher le nombre de lignes
nrow(df)

[1] 4

In [ ]:
# Afficher le nombre de colonnes
ncol(df)

[1] 3

In [ ]:
# Afficher les noms des colonnes
names(df)

[1] "Nom"  "Age"  "Note"

In [ ]:
# Accéder à une colonne par son nom
df['Age']

  Age
1 24
2 28
3 19
4 32

In [ ]:
# Accéder à une colonne par son nom
df$Age

[1] 24 28 19 32

In [ ]:
# Accéder à une ligne par son rang
df[1,]

  Nom   Age Note
1 Alice 24  12

In [ ]:
# Filtrer un dataframe avec une condition

df[df$Note > 15, ]

  Nom Age Note
2 Bob 28  16
3 Tom 19  18

In [ ]:
# Filtrer un dataframe avec plusieurs condition

df[df$Note > 15 & df$Age > 22, ]

  Nom Age Note
2 Bob 28  16

In [ ]:
# Ajouter une colonne à un dataframe

admission <- c("Admis", "Admis", "Admis", "Admis")
df['Admission'] <- admission
df

  Nom   Age Note Admission
1 Alice 24  12   Admis
2 Bob   28  16   Admis
3 Tom   19  18   Admis
4 Aline 32  15   Admis

In [ ]:
# Ajouter une ligne à un dataframe

nouvelle_ligne <- data.frame(Nom = "Sophie", Age = 25, Note = 17, Admission = "Admis")
df <- rbind(df, nouvelle_ligne)
df

  Nom    Age Note Admission
1 Alice  24  12   Admis
2 Bob    28  16   Admis
3 Tom    19  18   Admis
4 Aline  32  15   Admis
5 Sophie 25  17   Admis
6 Sophie 25  17   Admis

In [ ]:
# Supprimer une ligne d'un dataframe

df <- df[-6, ]
df

  Nom    Age Note Admission
1 Alice  24  12   Admis
2 Bob    28  16   Admis
3 Tom    19  18   Admis
4 Aline  32  15   Admis
5 Sophie 25  17   Admis

## Manipulation des dataframes avec dplyr

In [124]:
dataset <- read.csv("customer_churn.csv")
head(dataset, 5)

  Names            Age Total_Purchase Account_Manager Years Num_Sites
1 Cameron Williams 42  11066.80       0               7.22   8
2 Kevin Mueller    41  11916.22       0               6.50  11
3 Eric Lozano      38  12884.75       0               6.67  12
4 Phillip White    42   8010.76       0               6.71  10
5 Cynthia Norton   37   9191.58       0               5.56   9
  Onboard_date        Location
1 2013-08-30 07:00:40 10265 Elizabeth Mission Barkerburgh, AK 89518
2 2013-08-13 00:38:46 6157 Frank Gardens Suite 019 Carloshaven, RI 17756
3 2016-06-29 06:20:07 1331 Keith Court Alyssahaven, DE 90114
4 2014-04-22 12:43:12 13120 Daniel Mount Angelabury, WY 30645-4695
5 2016-01-19 15:31:15 765 Tricia Row Karenshire, MH 71730
  Company                     Churn
1 Harvey LLC                  1
2 Wilson PLC                  1
3 Miller, Johnson and Wallace 1
4 Smith Inc                   1
5 Love-Jones                  1

In [123]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [129]:
# Sélectionner des colonnes

sub_dataset <- dataset %>% select(Names, Years, Total_Purchase, Num_Sites)
head(sub_dataset, 5)

  Names            Years Total_Purchase Num_Sites
1 Cameron Williams 7.22  11066.80        8
2 Kevin Mueller    6.50  11916.22       11
3 Eric Lozano      6.67  12884.75       12
4 Phillip White    6.71   8010.76       10
5 Cynthia Norton   5.56   9191.58        9

In [131]:
# Filtrer un dataset (sélectionner des lignes)

dataset %>% select(Names, Years, Total_Purchase, Num_Sites) %>% filter(Years > 7, Num_Sites < 10)

   Names               Years Total_Purchase Num_Sites
1  Cameron Williams    7.22  11066.80       8
2  Brittany Hopkins    8.11   5024.52       9
3  Amber Spears        8.36  13365.66       9
4  Daniel Bates        7.16  10744.14       9
5  Megan Tucker        8.82  11386.56       9
6  Michael Acosta      7.31  12112.53       9
7  Nicole Friedman     7.39   8615.52       9
8  Isaiah Noble        7.67  10526.18       9
9  Richard Farmer      7.77   8588.46       8
10 Emily Little        7.82   6683.82       7
11 Michael White       7.12   7896.65       8
12 William Burns       7.42   7673.00       7
13 Shawn Ramirez       8.42  10527.52       8
14 Tabitha Love        7.06  13498.28       9
15 Michael Patterson   7.34   9574.89       8
16 Donald Barrett      7.03  10323.07       9
17 Brenda Walls        8.35  10877.81       8
18 Kim Adams           7.31   8677.28       7
19 Becky Cardenas      7.52  13762.79       9
20 Jason Phillips      7.19   8418.81       6
21 Donna Good          9.15  12713.90       8
22 Dustin Dodson       7.02   7761.20       9
23 Douglas Acosta      7.52   8801.13       6
24 Monica Hernandez    8.47   9347.47       8
25 Cindy Olson         7.66   5738.82       7
26 John Jackson        7.92  11655.82       9
27 Robert Allen        7.25  10241.32       7
28 Thomas Richardson   7.02  10445.76       8
29 Tina Schmidt        7.21  10668.91       8
30 Thomas Campbell     7.55   8931.09       7
31 Wendy Key           7.65   9621.04       8
32 Vanessa Donaldson   8.35  10697.72       8
33 Charles Ellison     8.62  10746.69       9
34 Alexis Allen        7.17   7686.13       8
35 Faith Sanchez       7.27  11738.88       9
36 Curtis Phillips     7.94  12978.81       7
37 Vanessa Hodge       8.60   8370.15       5
38 Kevin Powell        7.04  16955.76       8
39 Zachary Sanchez     7.10   8131.64       7
40 Amber Evans         7.65  10348.37       6
41 Rodney Miller       8.25   9401.99       9
42 Christopher Beasley 7.31   8662.18       8
43 Gina Johnson        7.36   8261.89       9
44 Tammy Pope          7.01   9576.07       8

In [132]:
# Créer de nouvelles colonnes avec mutate
dataset %>% mutate(Purchase_Year = Total_Purchase/Years)

    Names               Age Total_Purchase Account_Manager Years Num_Sites
1   Cameron Williams    42  11066.80       0               7.22   8
2   Kevin Mueller       41  11916.22       0               6.50  11
3   Eric Lozano         38  12884.75       0               6.67  12
4   Phillip White       42   8010.76       0               6.71  10
5   Cynthia Norton      37   9191.58       0               5.56   9
6   Jessica Williams    48  10356.02       0               5.12   8
7   Eric Butler         44  11331.58       1               5.23  11
8   Zachary Walsh       32   9885.12       1               6.92   9
9   Ashlee Carr         43  14062.60       1               5.46  11
10  Jennifer Lynch      40   8066.94       1               7.11  11
11  Paula Harris        30  11575.37       1               5.22   8
12  Bruce Phillips      45   8771.02       1               6.64  11
13  Craig Garner        45   8988.67       1               4.84  11
14  Nicole Olson        40   8283.32       1               5.10  13
15  Harold Griffin      41   6569.87       1               4.30  11
16  James Wright        38  10494.82       1               6.81  12
17  Doris Wilkins       45   8213.41       1               7.35  11
18  Katherine Carpenter 43  11226.88       0               8.08  12
19  Lindsay Martin      53   5515.09       0               6.85   8
20  Kathy Curry         46   8046.40       1               5.69   8
21  Dean Miller         41   9771.22       0               5.81  11
22  Kevin Ramos         56  12217.95       1               5.79  11
23  Jennifer Wood       35   9381.12       1               6.78  11
24  Paul Walker         41  10474.94       0               6.40  12
25  Lindsey Day         55  11158.50       1               4.86  10
26  Steven Hernandez    54   8207.10       0               4.26  11
27  Danielle Kirk       35  12403.81       0               4.42  11
28  Troy Oliver         40  10041.13       0               7.61  11
29  Darlene Evans       44  12721.55       0               5.18  11
30  Mrs. Sarah Morales  37   8284.89       1               5.60  10
⋮   ⋮                   ⋮   ⋮              ⋮               ⋮     ⋮
871 Jose Gutierrez      51   7985.76       1               3.48   8
872 Sarah Burns         35  11814.59       0               5.89   6
873 Dana Bailey         52   7077.34       1               5.60   8
874 Diana Jackson       51   9879.37       0               3.55  10
875 Scott Love          28  11128.95       1               5.12   8
876 Doris Zimmerman     40  11575.55       1               5.22   5
877 Jeffrey Trevino     37  13268.55       0               3.92  11
878 Anthony Vega        44   9351.88       1               4.32   6
879 James Owen          43   9735.41       0               6.12   8
880 Aaron Meyer         45   9598.03       0               5.00   7
881 Holly Hill          43   5805.53       0               5.44   5
882 Andrew Leonard      41  14099.03       1               4.56   7
883 Jessica Leon        49   8523.04       1               4.15   5
884 Amy Garcia          42   6406.38       0               3.00   9
885 John Nixon          48   5622.50       0               6.05   7
886 Deanna Henry        47   6670.37       0               2.55   9
887 Jeremy Singleton    46  13547.39       0               2.67   8
888 Kara Anderson       47   9182.81       1               6.45  11
889 Kelly Braun         42   9741.19       1               3.85   9
890 Amanda Wade         39   8880.17       0               4.00   8
891 Jason West          45  13122.89       0               5.84   6
892 Adam Moore          41  12659.88       0               4.55   4
893 Brandon Ortiz       37   8286.87       1               6.25   8
894 Cindy Marshall      37   9229.96       0               3.65   8
895 Matthew Barnes      45   4863.73       1               5.17   8
896 Paul Miller         42  12800.82       1               3.62   8
897 Natalie Hodges      52   9893.92       0               6.91   7
898 Ana Smith           45  12056.18       0               5.46   4
899 Justin Leonard      51   6517.93       1               5.47  10
900 Joseph Williams     39   9315.60       1               5.02  10
    Onboard_date
1   2013-08-30 07:00:40
2   2013-08-13 00:38:46
3   2016-06-29 06:20:07
4   2014-04-22 12:43:12
5   2016-01-19 15:31:15
6   2009-03-03 23:13:37
7   2016-12-05 03:35:43
8   2006-03-09 14:50:20
9   2011-09-29 05:47:23
10  2006-03-28 15:42:45
11  2016-11-13 13:13:01
12  2015-05-28 12:14:03
13  2011-02-16 08:10:47
14  2012-11-22 05:35:03
15  2015-03-28 02:13:44
16  2015-07-22 08:38:40
17  2006-09-03 06:13:55
18  2006-10-22 04:42:38
19  2015-10-07 00:27:10
20  2014-11-06 23:47:14
21  2013-05-30 00:42:13
22  2016-11-17 14:37:01
23  2006-03-27 20:52:42
24  2012-01-02 05:08:52
25  2007-01-07 01:21:47
26  2015-04-05 15:57:24
27  2007-07-31 06:39:54
28  2006-07-30 15:27:23
29  2011-04-25 02:53:25
30  2009-03-25 06:10:01
⋮   ⋮
871 2006-07-28 15:47:41
872 2013-06-28 13:22:40
873 2015-11-08 06:57:18
874 2008-02-11 07:28:11
875 2009-04-13 23:47:15
876 2015-03-10 20:16:40
877 2016-03-08 21:48:29
878 2011-08-16 19:16:12
879 2010-10-27 18:11:23
880 2010-07-17 03:30:38
881 2014-11-27 17:12:25
882 2016-03-02 16:50:06
883 2014-09-03 01:12:14
884 2007-03-09 23:50:39
885 2012-07-11 04:58:33
886 2010-03-29 20:16:38
887 2012-04-20 23:59:35
888 2012-04-14 02:53:19
889 2009-12-14 05:47:16
890 2011-03-05 06:46:38
891 2016-04-03 12:55:26
892 2010-01-22 19:08:48
893 2007-12-13 12:23:32
894 2015-12-30 19:11:01
895 2011-07-19 18:41:42
896 2007-12-01 13:29:34
897 2008-12-28 15:23:58
898 2014-06-20 05:10:09
899 2012-05-30 00:15:43
900 2010-09-25 12:16:08
    Location
1   10265 Elizabeth Mission Barkerburgh, AK 89518
2   6157 Frank Gardens Suite 019 Carloshaven, RI 17756
3   1331 Keith Court Alyssahaven, DE 90114
4   13120 Daniel Mount Angelabury, WY 30645-4695
5   765 Tricia Row Karenshire, MH 71730
6   6187 Olson Mountains East Vincentborough, PR 74359
7   4846 Savannah Road West Justin, IA 87713-3460
8   25271 Roy Expressway Suite 147 Brownport, FM 59852-6150
9   3725 Caroline Stravenue South Christineview, MA 82059
10  363 Sandra Lodge Suite 144 South Ann, WI 51655-7561
11  Unit 8120 Box 9160 DPO AA 43432
12  Unit 1895 Box 0949 DPO AA 40249
13  897 Kelley Overpass Suite 349 West Rebekahport, AZ 44793
14  11488 Weaver Cape Hernandezberg, WI 63417-8544
15  1774 Peter Row Apt. 712 New Autumn, MT 18782
16  45408 David Path East Kimberlyshire, HI 54903-6698
17  28216 Wright Mount Apt. 356 Alichester, DE 40999-2369
18  Unit 4948 Box 4814 DPO AP 42669
19  69203 Crosby Divide Apt. 878 Parkerview, CO 87064
20  9569 Caldwell Crescent Tanyaborough, RI 30637
21  803 Kelli Crossing Apt. 169 Jimenezberg, WV 56530-4240
22  5775 Jared Stream Apt. 881 Port Jenniferfort, CO 63506-4063
23  1493 Phillips Haven Lake William, FM 00995-2870
24  73006 Patty Avenue Apt. 646 New Sarahburgh, NV 24826
25  85934 Dakota Mall Timothyville, MI 72421
26  14609 Perez Turnpike Bradleyberg, DE 99755
27  20117 Johnson Ports Apt. 914 Jenniferfort, DC 40595
28  USCGC Blake FPO AA 66377-6894
29  950 Christina Viaduct Anastad, IL 03324-2274
30  8807 Young Village Joneston, AR 56462
⋮   ⋮
871 481 Andrews Freeway Apt. 222 Lake Alyssaburgh, TN 57832-1720
872 01740 Cynthia Rest Apt. 545 Bassburgh, MN 95437-1761
873 61381 Cassandra Cliffs Apt. 605 West Frederickberg, PW 73455-0264
874 USNS Burnett FPO AA 61045
875 Unit 7738 Box 0206 DPO AA 88767-0662
876 3536 Rivera Springs Suite 771 New Marcusville, HI 22211-1439
877 0295 Mason Vista Suite 110 Ryanbury, IA 14087
878 PSC 9086, Box 2290 APO AP 24944-0330
879 802 Jeffrey Valleys Kevinbury, WV 86701-9336
880 35821 Bailey Skyway Alexisstad, NH 81472
881 6985 Kevin Flat South Debra, CO 13171
882 Unit 6154 Box 5113 DPO AP 65306-0703
883 PSC 3040, Box 9946 APO AP 11064-1547
884 12223 Sean Valley Suite 960 Johnland, IA 33208
885 7186 Justin Locks Apt. 232 Stevenmouth, CT 17609-9525
886 62894 Summer Village Suite 944 Port Elizabeth, ID 67244-9988
887 067 Samuel Greens New Prestonchester, DC 50364-5698
888 19845 Hudson Mission Michaelmouth, GA 90290
889 080 Brewer Ports Suite 299 Erinmouth, TX 28755
890 869 Kathleen Dam Apt. 113 East Robertshire, SC 50012-1080
891 6239 Timothy Overpass Carmenhaven, FM 05708-0772
892 339 Jeffrey River Suite 638 Fergusonville, DC 25987
893 276 Thompson Field Apt. 992 South Victoriaton, SC 12848-8182
894 393 Stephens Field South Michelleside, MI 26930
895 00154 Ashley Course Shannonville, UT 52907
896 9316 Julian Fort Suite 328 North Leslie, ME 43961
897 8419 William Square Apt. 695 Martinville, RI 34133
898 Unit 8633 Box 8738 DPO AA 14126-5026
899 49800 Torres Ways Suite 886 West Bradleybury, LA 05945-2648
900 27252 Olivia Burgs Rivasmouth, MN 80121-6348
    Company                       Churn Purchase_Year
1   Harvey LLC                    1     1532.7978
2   Wilson PLC                    1     1833.2646
3   Miller, Johnson and Wallace   1     1931.7466
4   Smith Inc                     1     1193.8539
5   Love-Jones                    1     1653.1619
6   Kelly-Warren                  1     2022.6602
7   Reynolds-Sheppard             1     2166.6501
8   Singh-Cole                    1     1428.4855
9   Lopez PLC                     1     2575.5678
10  Reed-Martinez                 1     1134.5907
11  Briggs, Lamb and Mathews      1     2217.5038
12  Figueroa-Maynard              1     1320.9367
13  Abbott-Thompson               1     1857.1632
14  Smith, Kim and Marshall       1     1624.1804
15  Snyder, Lee and Morris        1     1527.8767
16  Sanders-Pierce                1     1541.0896
17  Andrews, Adams and Davis      1     1117.4707
18  Morgan, Phillips and Harrell  1     1389.4653
19  Villanueva LLC                1      805.1226
20  Berry, Orr and Cabrera        1     1414.1301
21  Parks-Bradley                 1     1681.7935
22  Olsen LLC                     1     2110.1813
23  Clark, Campbell and Armstrong 1     1383.6460
24  Dalton LLC                    1     1636.7094
25  Thompson, Hansen and Sanchez  1     2295.9877
26  Yates, Martinez and Cox       1     1926.5493
27  Reeves-Curtis                 1     2806.2919
28  Gates Ltd                     1     1319.4652
29  Dunlap and Sons               1     2455.8977
30  Taylor, Allen and Gardner     1     1479.4446
⋮   ⋮                             ⋮     ⋮
871 Smith, Phillips and Smith     0     2294.7586
872 Frey-Burke                    0     2005.8727
873 Gibson, Frost and Rivera      0     1263.8107
874 Stephens-Chavez               0     2782.9211
875 Williams-Johnson              0     2173.6230
876 Mitchell-Adams                0     2217.5383
877 Price-Ramirez                 0     3384.8342
878 Hall Group                    0     2164.7870
879 Olson, Ortega and Hester      0     1590.7533
880 Steele, Bates and Lane        0     1919.6060
881 Shaw LLC                      0     1067.1930
882 Cruz, Carter and Washington   0     3091.8925
883 Williams-Moreno               0     2053.7446
884 Barker Ltd                    0     2135.4600
885 French-Miller                 0      929.3388
886 Jones, Collins and Adams      0     2615.8314
887 Mckinney-Thompson             0     5073.9288
888 Douglas, Fleming and Munoz    0     1423.6915
889 Mosley, Tate and Blankenship  0     2530.1792
890 Jordan, Beasley and Moore     0     2220.0425
891 Santiago-Waller               0     2247.0702
892 Little, White and Davis       0     2782.3912
893 Ewing Group                   0     1325.8992
894 Gomez-Clarke                  0     2528.7562
895 Chavez-Howard                 0      940.7602
896 Evans-Lucero                  0     3536.1381
897 Perry and Sons                0     1431.8263
898 Schneider-Smith               0     2208.0916
899 Robles-Abbott                 0     1191.5777
900 Davis Group                   0     1855.6972

In [134]:
# Trier un dataframe à partir des valeurs d'une colonne
dataset %>% arrange(desc(Num_Sites))

    Names                 Age Total_Purchase Account_Manager Years Num_Sites
1   Daniel Bartlett       45   6749.49       0               5.88  14
2   Brian Young           49  10522.21       0               7.25  14
3   Eric Kelley           43  10271.19       1               5.31  14
4   Katie Sutton          40  11611.51       1               5.64  14
5   Douglas Joseph        44   8474.11       0               6.61  14
6   James Contreras       46  11119.11       1               3.51  14
7   Nicole Olson          40   8283.32       1               5.10  13
8   Ryan Weaver           39  10110.40       1               5.78  13
9   Laurie Green          51   8100.43       1               4.92  13
10  Tina King             40   8625.96       1               6.27  13
11  April Freeman         41   9923.79       1               4.75  13
12  James Newman          35   9766.95       1               4.59  13
13  Stephanie Gonzales    36  11550.29       0               6.46  13
14  Randall Weber         34  12983.26       1               6.53  13
15  Eric Lozano           38  12884.75       0               6.67  12
16  James Wright          38  10494.82       1               6.81  12
17  Katherine Carpenter   43  11226.88       0               8.08  12
18  Paul Walker           41  10474.94       0               6.40  12
19  Joseph Harrell        44   9814.22       1               5.45  12
20  Heidi Munoz           38  11887.39       0               5.83  12
21  Thomas Sawyer         48  10367.08       1               6.45  12
22  Erin Rivera           37   8198.06       1               5.04  12
23  Raymond Berry         41   7777.37       0               4.81  12
24  Patrick Bell          41  11699.26       0               6.99  12
25  George Archer         37   8736.06       1               5.51  12
26  Amanda Roberts        43   8601.01       0               5.65  12
27  Adam Waters           40  11185.62       0               6.26  12
28  Amy Griffin           48   4771.65       0               3.77  12
29  Carla Patterson       58  12376.37       0               6.01  12
30  Jennifer King         43   8024.08       0               4.08  12
⋮   ⋮                     ⋮   ⋮              ⋮               ⋮     ⋮
871 Anthony Vega          44   9351.88       1               4.32  6
872 Jason West            45  13122.89       0               5.84  6
873 Dr. Michael Contreras 45  10364.82       0               5.93  5
874 Beverly Perry         38  12893.47       1               5.69  5
875 Rodney Evans          49   8092.13       0               6.32  5
876 Terry Diaz            46  11401.63       0               6.13  5
877 Austin Melendez       44  12155.91       1               4.11  5
878 Timothy Mcdonald      52  11093.87       0               4.38  5
879 Michael Brown         47   9365.92       1               4.37  5
880 Tammy Williams        52   9065.28       0               3.99  5
881 Kenneth Graham        50   9641.61       0               3.09  5
882 Dominique Kemp        40  10370.72       1               4.35  5
883 Duane Mcdonald        55   8280.03       0               6.33  5
884 Amy Riddle            45   8389.84       1               6.81  5
885 Kayla Reeves          38    100.00       0               5.27  5
886 Lauren Nelson         40   7490.92       0               4.75  5
887 Cheryl Hayes          51  10776.82       0               5.10  5
888 Vanessa Hodge         38   8370.15       0               8.60  5
889 Whitney Kennedy       42  10442.37       0               5.58  5
890 Cynthia Wood          49  12681.35       0               3.68  5
891 Bradley Bennett       41   8143.38       1               2.64  5
892 Doris Zimmerman       40  11575.55       1               5.22  5
893 Holly Hill            43   5805.53       0               5.44  5
894 Jessica Leon          49   8523.04       1               4.15  5
895 Jason Santana         39   9408.96       1               3.83  4
896 Monica Todd           35  11255.38       0               6.28  4
897 Adam Moore            41  12659.88       0               4.55  4
898 Ana Smith             45  12056.18       0               5.46  4
899 Regina Kirby          41  10921.54       0               5.07  3
900 James Stevens         44  12400.33       1               5.18  3
    Onboard_date
1   2006-08-19 17:13:19
2   2014-11-08 00:40:36
3   2011-07-19 10:28:53
4   2010-06-19 16:02:16
5   2012-10-01 08:10:23
6   2008-12-08 09:23:02
7   2012-11-22 05:35:03
8   2009-03-10 21:58:42
9   2006-01-14 01:47:07
10  2008-08-07 01:50:30
11  2011-08-28 03:41:36
12  2008-02-29 14:17:57
13  2014-01-13 05:18:56
14  2007-10-14 20:54:33
15  2016-06-29 06:20:07
16  2015-07-22 08:38:40
17  2006-10-22 04:42:38
18  2012-01-02 05:08:52
19  2010-01-23 07:15:58
20  2009-10-15 17:14:01
21  2008-10-06 17:15:00
22  2016-11-06 01:13:12
23  2014-01-20 08:53:20
24  2010-03-31 14:45:01
25  2014-12-23 19:38:52
26  2007-02-03 17:52:51
27  2006-03-06 18:36:47
28  2007-06-19 04:30:13
29  2007-12-08 08:05:11
30  2016-02-20 07:00:09
⋮   ⋮
871 2011-08-16 19:16:12
872 2016-04-03 12:55:26
873 2016-08-22 05:47:48
874 2012-11-20 05:53:31
875 2011-10-22 19:12:36
876 2014-06-30 15:46:07
877 2009-07-30 18:11:19
878 2016-09-30 14:28:53
879 2013-06-10 21:51:47
880 2009-12-13 18:17:02
881 2010-06-09 21:23:11
882 2016-03-28 02:06:48
883 2013-07-31 03:51:53
884 2009-08-19 08:06:04
885 2006-10-03 09:01:48
886 2013-08-05 20:26:59
887 2007-01-05 20:48:18
888 2009-01-24 14:58:51
889 2006-05-04 12:31:49
890 2014-05-24 05:29:40
891 2008-11-11 18:59:37
892 2015-03-10 20:16:40
893 2014-11-27 17:12:25
894 2014-09-03 01:12:14
895 2011-09-30 06:15:01
896 2007-04-04 08:32:31
897 2010-01-22 19:08:48
898 2014-06-20 05:10:09
899 2015-09-04 11:32:49
900 2007-07-18 07:06:46
    Location
1   353 Gregory Spur Mariaburgh, KY 66125
2   Unit 6711 Box 7964 DPO AA 27820
3   98472 Meghan Mall Port Lauren, LA 49472
4   564 Amanda Park Apt. 388 Watsonport, NJ 61471-7559
5   Unit 9630 Box 8710 DPO AP 69319
6   10454 David Greens South Jenniferbury, FM 87283-5336
7   11488 Weaver Cape Hernandezberg, WI 63417-8544
8   8306 Nicole Lane Moranmouth, PR 36299
9   74631 Kyle Mountain Apt. 268 Andrewmouth, MI 55255
10  80203 Brandon Hill Apt. 353 New Luisport, VA 65076
11  16914 Oconnell Forge Apt. 477 Atkinsonmouth, MD 32666
12  1317 Dillon Gardens Michaelville, ME 91569-7889
13  437 Alex Glens Melindaburgh, ID 78010-8240
14  447 Lane Street Apt. 689 East Christopher, MI 80796
15  1331 Keith Court Alyssahaven, DE 90114
16  45408 David Path East Kimberlyshire, HI 54903-6698
17  Unit 4948 Box 4814 DPO AP 42669
18  73006 Patty Avenue Apt. 646 New Sarahburgh, NV 24826
19  USCGC Bell FPO AE 94532
20  USCGC Mason FPO AA 96632-5067
21  8113 Rodriguez Court Sheribury, SC 88474
22  34727 Randy Prairie Apt. 275 South Pamelashire, AS 63214-4216
23  75210 Mark Mill Apt. 397 Donnamouth, MA 40404-7466
24  93345 Monique Tunnel Apt. 431 North Chase, NJ 30518
25  5645 Henderson Streets Brandystad, CA 92343
26  PSC 9561, Box 4071 APO AA 92200-5783
27  6040 Juan Forge Parrishville, NJ 27948
28  062 Trevor Falls Suite 665 North Mathewchester, MH 93744
29  350 Gregory Isle South Tinaland, WI 44398
30  44850 Dennis Meadows Suite 044 Dariusland, IL 05918
⋮   ⋮
871 PSC 9086, Box 2290 APO AP 24944-0330
872 6239 Timothy Overpass Carmenhaven, FM 05708-0772
873 53891 Paula Corners Apt. 946 West Michael, ME 42796-1668
874 3145 Cruz Mill North Deborahstad, AR 02085
875 025 Ricky Ford East John, AS 71101-1423
876 USNV Rose FPO AP 67907-1654
877 697 Mcdowell Pike Lake Phillip, LA 32009-7853
878 6685 Marie Unions Suite 385 West Kevinfort, MS 77092-9463
879 4972 Michael Village Suite 788 West Rachelstad, NH 04946-6243
880 6720 Barbara Square Christopherchester, UT 54226
881 43996 Parks Spring Hooperland, TX 05090-6018
882 478 James Spurs North Thomas, MT 77158-1870
883 USNV Nielsen FPO AA 31326
884 4964 Page Estate East Richardmouth, OK 43652
885 1511 Porter Drive Amberberg, NC 44608
886 341 Benjamin Knolls Robertview, ND 28469-9018
887 667 Diaz Row Garnerview, IN 81368-5410
888 29252 Powell Brook Suite 931 Port Scottland, MT 15769-3539
889 6414 Jesus Knoll Apt. 139 Downsshire, VT 78464
890 589 Mary Vista Lake Craig, CO 88641
891 04046 Shelby Rapid Blackport, KS 68644
892 3536 Rivera Springs Suite 771 New Marcusville, HI 22211-1439
893 6985 Kevin Flat South Debra, CO 13171
894 PSC 3040, Box 9946 APO AP 11064-1547
895 8072 Kathy Harbors Apt. 845 Normanburgh, MA 46572-1532
896 104 Ruben Rapid Apt. 107 New Andrea, FM 58602
897 339 Jeffrey River Suite 638 Fergusonville, DC 25987
898 Unit 8633 Box 8738 DPO AA 14126-5026
899 310 Amy Underpass Suite 089 Lake Kevin, DC 23138-4553
900 USNV Johnson FPO AA 53865-7362
    Company                          Churn
1   Owens Group                      1
2   Munoz Ltd                        1
3   Santos, Hoffman and Harper       1
4   Patrick Inc                      1
5   Clark PLC                        1
6   Taylor-Robbins                   0
7   Smith, Kim and Marshall          1
8   Keith, Richardson and Thomas     1
9   Callahan, Hinton and Murray      1
10  Franco-Jones                     1
11  Larson, Ross and Ward            1
12  Griffin, Tucker and Lee          1
13  Young-Dunn                       1
14  Torres, Villanueva and Velasquez 1
15  Miller, Johnson and Wallace      1
16  Sanders-Pierce                   1
17  Morgan, Phillips and Harrell     1
18  Dalton LLC                       1
19  Fitzgerald, Sherman and Lowe     1
20  Mckinney-Rogers                  1
21  Lopez, Kelly and Armstrong       1
22  Wilkins, White and Martin        1
23  Evans, Logan and Wilson          1
24  Clark-Kramer                     1
25  Smith Inc                        1
26  Evans LLC                        1
27  Reed Ltd                         1
28  Larson-Hall                      1
29  Pittman, Watts and Fitzgerald    1
30  Hunter, Reyes and Rivera         1
⋮   ⋮                                ⋮
871 Hall Group                       0
872 Santiago-Waller                  0
873 Holt-Rogers                      0
874 Mathis Ltd                       0
875 Simmons Inc                      0
876 Charles, Cruz and Marshall       0
877 Carlson, Ramos and Johnson       0
878 Smith-Hawkins                    0
879 Smith, Diaz and Warren           0
880 Lawrence-Johnson                 0
881 King-Atkinson                    0
882 Richardson Inc                   0
883 Armstrong-Hicks                  0
884 Parker PLC                       0
885 Stewart-Lopez                    0
886 Hall Inc                         0
887 Hill, Roberts and Melendez       0
888 Li Ltd                           0
889 Bates-Underwood                  0
890 Washington, Mcdaniel and Lambert 0
891 Fisher, Moore and Miles          0
892 Mitchell-Adams                   0
893 Shaw LLC                         0
894 Williams-Moreno                  0
895 Gonzalez LLC                     0
896 Peterson PLC                     0
897 Little, White and Davis          0
898 Schneider-Smith                  0
899 Schaefer-Berry                   0
900 Sims-Cole                        0

In [137]:
# Réaliser des opérations sur un dataframe avec group_by
dataset %>% group_by(Churn) %>% summarise(mean(Num_Sites))

  Churn mean(Num_Sites)
1 0      8.173333
2 1     10.660000